.image {
  filter: grayscale(100%) contrast(1.1) brightness(0.9);
  opacity: 0.5;
  transition: all 0.3s ease-in;
}

.image:hover {
  filter: grayscale(0%) contrast(1) brightness(1);
  scale: 1.05;
  opacity: 1;
  cursor: pointer;
}
